#pro-button{border-radius:10px;height:40px;width:40px;padding:1px;margin-right:3px; margin-left: 10px;}
#navbar{height: 10vh;}
#navbar-brand{margin-left:5px;color:white;}
#navbar-nav{float: right;margin-left: 80%;}